<div class="app-container">
  <h1>Web3 application with Viem</h1>
  <p>
    This is a simple web3 application that demonstrates how to connect to a
    wallet, check the network, read token info, and approve and transfer tokens.
  </p>

  <div class="column-container">
    <button
      id="connectButton"
      *ngIf="!isWalletConnected"
      (click)="connectWallet()"
    >
      Connect Wallet
    </button>
    <span id="account" *ngIf="isWalletConnected"
      >Wallet: {{ walletAddress }}</span
    >
  </div>

  <div class="column-container" *ngIf="isWalletConnected">
    <h2>Network Info</h2>
    <button (click)="checkNetwork()">Check network</button>
    <span id="network" *ngIf="network">Network: {{ network }}</span>

    <div
      class="row-container"
      *ngIf="network && chainId !== SEPOLIA_NETWORK.chainId"
    >
      <button (click)="changeNetwork(SEPOLIA_NETWORK.chainId)">Connect Sepolia</button>
    </div>
  </div>

  <div
    class="column-container"
    *ngIf="isWalletConnected && chainId === SEPOLIA_NETWORK.chainId"
  >
    <h2>Token Info</h2>
    <button id="tokenInfoButton" (click)="readTokenInfoMulticall()">
      Get Token Info
    </button>

    <div *ngIf="tokenInfo">
      <div class="token-info">
        <p>Name: {{ tokenInfo.name }}</p>
        <p>Symbol: {{ tokenInfo.symbol }}</p>
        <p>Decimals: {{ tokenInfo.decimals }}</p>
        <p>Balance: {{ tokenInfo.balance }} {{ tokenInfo.symbol }}</p>
      </div>

      <div class="column-container">
        <h2>Allowance</h2>
        <div class="row-container">
          <button id="allowanceButton" (click)="readAllowance()">
            Get Allowance
          </button>
          <span *ngIf="allowanceAmount"
            >Allowance: {{ allowanceAmount }} {{ tokenInfo.symbol }}</span
          >
        </div>

        <div class="row-container">
          <input type="text" [(ngModel)]="approveAmount" placeholder="Amount" />
          <button id="approveButton" (click)="approveTokens()">Approve</button>
          <span *ngIf="approveInProcess">In process</span>
          <span *ngIf="approveConfirmed">Transaction confirmed</span>
          <span *ngIf="approveError">{{ approveError }}</span>
        </div>
      </div>

      <div class="column-container">
        <h2>Transfer Tokens</h2>
        <input
          type="text"
          [(ngModel)]="transferAddress"
          placeholder="Address"
        />
        <input type="text" [(ngModel)]="transferAmount" placeholder="Amount" />
        <div>
        <button id="transferButton" (click)="transferTokens()">Transfer</button>
          <span *ngIf="transferInProcess">In process</span>
          <span *ngIf="transferConfirmed">Transaction confirmed</span>
          <span *ngIf="transferError">{{ transferError }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
